body {
    background-image: url("../../images/pTrainBg.png");
    font-family: 'Rum Raisin', sans-serif;
}
#table {
    background-color: white;
    background-size: contain;
}
.container {
    background-color: white;
    border: double 1.1em;
}
#time {
    position: fixed;
    border: solid 1px;
    float: right;
    padding: 1em;
    border-radius: 100%;
    background-color: white;
    right: 5%;
    bottom: 37em;
}
header {
    background-image: url("../../images/trainWboyColor.png");
    background-size: contain;
    background-position: unset;
    background-repeat: no-repeat;
    background-position-x: 74%;
    background-size: 24em;
    font-family: 'Sonsie One', cursive;
}